# Copyright (c) 2019 jmjoy
# PHPER is licensed under Mulan PSL v2.
# You can use this software according to the terms and conditions of the Mulan
# PSL v2. You may obtain a copy of Mulan PSL v2 at:
#          http://license.coscl.org.cn/MulanPSL2
# THIS SOFTWARE IS PROVIDED ON AN "AS IS" BASIS, WITHOUT WARRANTIES OF ANY
# KIND, EITHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO
# NON-INFRINGEMENT, MERCHANTABILITY OR FIT FOR A PARTICULAR PURPOSE.
# See the Mulan PSL v2 for more details.

[package]
name = "phper"
version = "0.5.0"
authors = ["PHPER Framework Team", "jmjoy <jmjoy@apache.org>"]
edition = "2021"
rust-version = "1.56"
description = "The framework that allows us to write PHP extensions using pure and safe Rust whenever possible."
repository = "https://github.com/jmjoy/phper.git"
documentation = "https://docs.rs/phper"
license = "MulanPSL-2.0"
readme = "../README.md"
keywords = ["php", "binding", "extension", "module"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.58"
clap = { version = "3.2.8", features = ["derive"] }
dashmap = "5.3.4"
derive_more = "0.99.17"
indexmap = "1.9.1"
once_cell = "1.13.0"
phper-alloc = { version = "0.5.0", path = "../phper-alloc" }
phper-macros = { version = "0.5.0", path = "../phper-macros" }
phper-sys = { version = "0.5.0", path = "../phper-sys" }
thiserror = "1.0.31"

[build-dependencies]
phper-build = { version = "0.5.0", path = "../phper-build" }
phper-sys = { version = "0.5.0", path = "../phper-sys" }
